*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;

}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #212529;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    color: aliceblue;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: hsl(160, 100%, 75%);
    border: 1px solid hsl(160, 100%, 40%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(32, 32, 104);
    outline: none;
}

.btn:hover {
    border-color: #333;
}

.back-button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 10px;
}