{% load static %}
<link 
rel="stylesheet"
type="text/css"
href="{% static 'CodeRPGappMain/css/bootstrap.css' %}"
/>



 <!--If the user is logged in or in other words ''authenticated''-->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #020330;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Code-RPG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a> <!-- User can Edit Profile -->
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a> <!-- User can Logout, note: This is a handled Logout meaning I never made a view class or anything Django just makes a logout for you  -->
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'show_profile' %}">View Profile</a> <!-- Add this line for the profile view -->
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'gamesHome' %}">Games</a> <!-- url pointing to the Login view -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lessons' %}">Lessons</a> <!-- url pointing to the Login view -->
      </li>
        </form>
      </div>
    </div>
  </nav>
<!--I WANT THE OTHER STUFF TO BE RIGHT HERE!-->
{% block content %}{% endblock %}

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/MasonScarbro">Mason Scarbro</a>
      || Build: 0.0.1, 8/8/2023
    </div>
    <!-- Copyright -->
  </footer>

