{% block content %}
{% load static %}
{% csrf_token %}
{% if user.is_authenticated %} <!--If the user is logged in or in other words ''authenticated''-->
<link href="/static/CodeRPGappMain/css/gameStyle.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="{% static 'CodeRPGappMain/js/game.js' %}" data-level="{{ level }}" data-markComplete_1 = "{{ markComplete_1 }}"></script>


<div class="back-button-cont">
    <a href="/" class="btn btn-primary">Back/Home</a>
</div> 

<div class="container">
    <div id="text">Test</div>
    <div id="option-buttons" class="btn-grid">
        <button class="btn">Option 1</button>
        <button class="btn">Option 1</button>
        <button class="btn">Option 1</button>
        <button class="btn">Option 1</button>
    </div>

</div>

<div class="back-button-cont">
    <a href="{% url 'show_profile' %}" class="btn btn-primary">Character</a>
</div>

<div class="back-button-cont">
    <button id="markComplete">Mark As Complete</button>
</div> 
{% endif %}
{% endblock %}