{% block content %}
{% load static %}

<link 
rel="stylesheet"
type="text/css"
href="{% static 'CodeRPGappMain/css/bootstrap.css' %}"
/>


<div class="container d-flex-center">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Edit Profile</h1>
            <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update Profile</button>
                </form>    
            </div>
        </div>
    </div>
</div>

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/MasonScarbro">Mason Scarbro</a>
      || Build: 0.0.1, 8/8/2023
    </div>
    <!-- Copyright -->
  </footer>

{% endblock %}