{% block content %}
{% load static %}

<link 
rel="stylesheet"
type="text/css"
href="{% static 'CodeRPGappMain/css/bootstrap.css' %}"
/>


<div class="container d-flex-center">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Edit Profile</h1>
            <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update Profile</button>
                </form>    
            </div>
        </div>
    </div>
</div>

{% endblock %}