{% block content %}
{% load static %}

<link 
rel="stylesheet"
type="text/css"
href="{% static 'CodeRPGappMain/css/bootstrap.css' %}"
/>

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card" style="width: 24rem;">
        <div class="card-body text-center">
            <h3 class="card-title mb-3">UserName: {{ page_user.user.username }}</h3>
            {% if page_user.rpg_class %}
            <h5 class="card-subtitle mb-2 text-muted">RPG Class: {{ page_user.rpg_class }}</h5>
            {% endif %}
            {% if page_user.level %}
            <h6 class="card-subtitle mb-3 text-muted">Level: {{ page_user.level }}</h6>
            {% endif %}
            <a href="/" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/MasonScarbro">Mason Scarbro</a>
        || Build: 0.0.1, 8/8/2023
    </div>
    <!-- Copyright -->
  </footer>
{% endblock %}